@use "../base/abstracts" as *;

.portfolio-item-individual {
     
        padding: 0 2em 2em;
        margin: 0 auto;
        max-width: 1000px;
    
    
     p {
        max-width: 800px;
        color: $clr-accent;
        font-family: $ff-primary;
        font-size: $fs-h3;
        font-weight: $fw-reg;
    }

}